:root {
  --horizontal-padding: 50px;
  --dark-blue: #1f2937;
  --blue: #3882f6;
  --light-gray: #e5e7eb;
  --white: #f9faf8;
  --bold: 900;

  /* TODO: define font size vars */
}

body {
  margin: 0;
}

.button {
  width: fit-content;
  padding: 5px 30px;
  border-radius: 5px;
  background-color: var(--blue);
}

.placeholder-img {
  background-color: gray;
  padding: 60px 40px;
}

#main {
  font-family: "Roboto";
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--horizontal-padding);

  background-color: var(--dark-blue);
  color: var(--white);
}

#navbar-links {
  display: flex;
  gap: 20px;
}

#header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 70px var(--horizontal-padding);

  background-color: var(--dark-blue);
  color: var(--white);
}

#header-text {
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

#hero-main-text {
  font-size: 48px;
  color: var(--white);
  font-weight: var(--bold);
}

#hero-secondary-text, .header-link-text {
  font-size: 18px;
  color: var(--light-gray);
}

#hero-logo {
  font-size: 24px;
  color: var(--white);
  font-weight: var(--bold);
}